[Desktop Entry]
Type=Application
Name=mpv Media Player (Patched to play .mpls file)
Name[ca]=Reproductor multimèdia mpv (Patched to play .mpls file)
Name[cs]=mpv přehrávač (Patched to play .mpls file)
Name[da]=mpv-medieafspiller (Patched to play .mpls file)
Name[fr]=Lecteur multimédia mpv (Patched to play .mpls file)
Name[pl]=Odtwarzacz mpv (Patched to play .mpls file)
Name[ru]=Проигрыватель mpv (Patched to play .mpls file)
Name[zh_CN]=mpv 媒体播放器 (Patched to play .mpls file)
Name[zh_TW]=mpv 媒體播放器 (Patched to play .mpls file)
GenericName=Multimedia player (Patched to play .mpls file)
GenericName[cs]=Multimediální přehrávač (Patched to play .mpls file)
GenericName[da]=Multimedieafspiller (Patched to play .mpls file)
GenericName[fr]=Lecteur multimédia (Patched to play .mpls file)
GenericName[zh_CN]=多媒体播放器 (Patched to play .mpls file)
GenericName[zh_TW]=多媒體播放器 (Patched to play .mpls file)
Comment=Play movies and songs (Patched to play .mpls file)
Comment[ca]=Reproduïu vídeos i cançons (Patched to play .mpls file)
Comment[cs]=Přehrává filmy a hudbu (Patched to play .mpls file)
Comment[da]=Afspil film og sange (Patched to play .mpls file)
Comment[de]=Filme und Musik abspielen (Patched to play .mpls file)
Comment[es]=Reproduzca vídeos y canciones (Patched to play .mpls file)
Comment[fr]=Lire des vidéos et des musiques (Patched to play .mpls file)
Comment[it]=Lettore multimediale (Patched to play .mpls file)
Comment[pl]=Odtwarzaj filmy i muzykę (Patched to play .mpls file)
Comment[ru]=Воспроизвести фильмы и музыку (Patched to play .mpls file)
Comment[zh_CN]=播放电影和歌曲 (Patched to play .mpls file)
Comment[zh_TW]=播放電影和歌曲 (Patched to play .mpls file)
Icon=mpv
TryExec=mpv
Exec=/bin/sh -c "/usr/bin/python3 $HOME/.local/mpv-mpls-workaround/mpv_mpls.py %f"
Terminal=false
Categories=AudioVideo;Audio;Video;Player;TV;
Keywords=mpv;media;player;video;audio;tv;
